<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Truck Tips</h1>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'">
    <mat-nav-list>
      <a mat-list-item routerLink="/shipping/costs" (click)="navigate()">
        <span class="entry">
          <mat-icon>attach_money</mat-icon>
          <span>Custos Caminhão</span>
        </span>
      </a>
      <a mat-list-item routerLink="/shipping/calculator" (click)="navigate()">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Calculadora Frete</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
