<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource()" class="mat-cell">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <mat-cell *matCellDef="let row; let i = index">
                <button mat-icon-button color="accent" (click)="deleteTransaction(row)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="editTransaction(row)">
                    <mat-icon aria-label="Eelete">edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select Transactions Page"
    >
    </mat-paginator>
</div>
